# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
.venv/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/
static/

# IDEs and Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Local settings
local_settings.py
settings_local.py
